* {
    font-family: "Inter";
    color: #282828;
    background-color: #fafafa;
}

body {
    margin: 26px 72px;
}

/* --------- main --------- */

.main {
    display: flex;
    align-items: flex-end;
}

h1 {
    font-weight: 900;
    font-size: 53px;
    padding: 0;
    margin: 0 auto 0 0;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.details {
    opacity: 60%;
    font-size: 26.51;
    margin-bottom: 10px;
}

.details-left {
    text-align: left;
    margin-right: auto;
}

.details-right {
    text-align: right;
}

div > p {
    margin: 0;
}

hr {
    color: #ccc;
}

/* --- personal profile --- */

.personal-profile-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
}

.column-left {
    text-align: right;
    font-weight: 700;
    margin: 0px 10px 0px 0px;
    line-height: 200%;
    margin-left: auto;
}

.column-right {
    line-height: 200%;
    margin-right: auto;
}

/* ------ education ------ */

.education-content {
    display: flex;
    margin-bottom: 53px;
}

.education-left {
    text-align: right;
    font-weight: 700;
    margin: 0px 10px 0px 0px;
    margin-left: auto;
}

.education-right {
    margin-right: auto;
    font-weight: 500;
}

.light-italic {
    font-style: italic;
    opacity: 60%;
}

span {
    font-weight: 400;
    opacity: 60%;
}
